<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'Kies een afdeling'">
  <content has-header="true" has-tabs="true" padding="true">
    <div class="list">
      <label class="item item-radio">
        <input type="radio" name="group" value="ribbels">
        <div class="item-content">
          Ribbels
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      
      <label class="item item-radio">
        <input type="radio" name="group" value="speelclub">
        <div class="item-content">
          Speelclub
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      
      <label class="item item-radio">
        <input type="radio" name="group" value="rakwis">
        <div class="item-content">
          Rakwi's
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      
      <label class="item item-radio">
        <input type="radio" name="group" value="titos">
        <div class="item-content">
          Tito's
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      
      <label class="item item-radio">
        <input type="radio" name="group" value="ketis">
        <div class="item-content">
          Keti's
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      
      <label class="item item-radio">
        <input type="radio" name="group" value="aspis">
        <div class="item-content">
          Aspiranten
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>
  </content>
</view>
