<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<view title="'Instellingen'">
    <content has-header="true" has-tabs="true">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Gebruikersnaam">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Wachtwoord">
            </label>
            <!--<toggle>Subscribe To Newsletter</toggle>-->
            <button class="button button-positive button-block">Opslaan</button>
        </div>
    </content>
</view>
